<template>
  <canvas ref="canvas"></canvas>
</template>

<script>
import {game, patterns} from '../js/game'

export default {
  name: 'GameOfLife',
  mounted() {
    let growthFactor = 10
    let gridHeight = Math.floor((window.innerHeight) / growthFactor)
    let gridWidth = Math.floor(window.innerWidth / growthFactor)
    let canvasHeight = gridHeight * growthFactor
    let canvasWidth = gridWidth * growthFactor
    let text = "conway's game of life (tap to reload)"

    const canvas = this.$refs.canvas
    canvas.height = canvasHeight
    canvas.width = canvasWidth

    const context = canvas.getContext("2d")
    context.fillStyle = "cornflowerblue"
    context.font = '20px serif'

    let grid = game.init(gridHeight, gridWidth)

    const getRandomInt = max =>  Math.floor(Math.random() * Math.floor(max))

    for(let type of Object.keys(patterns)) {
      for(let pattern of Object.keys(patterns[type])) {
        let ran = getRandomInt(4)
        for (let i = 0; i <= ran; i++) {
          game.addPattern(grid, getRandomInt(gridWidth-5), getRandomInt(gridHeight-5), patterns[type][pattern])
        }
      }
    }

    let rects = []
    let iterations = 0
    
    const drawcell = (rowIndex, columnIndex) => {
      rects.push([rowIndex*growthFactor,columnIndex*growthFactor,growthFactor,growthFactor])
    }

    const draw = () => {

      game.iterate(grid, drawcell)

      iterations++

      if (iterations === 2000) {
        clearInterval(interval)
      }

      context.clearRect(0,0,canvas.width,canvas.height);
      rects.forEach((value) => context.fillRect(...value))
      context.fillText(text, 5, canvasHeight - 5)
      rects = []
    }

    const interval = setInterval(draw, 50)

    canvas.addEventListener('click', () => window.location.reload(false))
    addEventListener('error', () => clearInterval(interval))
    addEventListener('resize', () => location.reload(false)) 
  }
}
</script>

<style scoped>
canvas{
  background-color: whitesmoke;
}
</style>